@font-face {
    font-family: "Roboto Mono";
    src: url("./fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf");
}


// VARIABLES //

$color-primary: #668ba4;
$color-secondary: #97cba9;
$color-bg: #feffed;
$color-placeholder: #dbdbdb;


// MIXINS //

@mixin button {
    font-family: 'Roboto Mono';
    color: $color-secondary;
    border: 1px solid $color-primary;
    background-color: transparent;
    &:hover {
        background-color: $color-bg;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }
}

// -------- //


.container {
    font-family: 'Roboto Mono';
    margin: 0px;
    padding: 16px;
}

.h1 {
    margin: 0px;
    color: $color-primary;
}

.header {
    margin: 12px 0px;
}

.welcomeText {
 color: $color-secondary;
}

.logo {

}

.startCrawlContainer {
    display: flex;
}

.urlInput {
    width: 40vw;
    margin: 0px 4px;
    font-family: 'Roboto Mono';
    color: $color-primary;
    border-radius: 0%;
    border: 1px solid $color-primary;
    &:focus {
        border: 1px solid $color-primary;
        border-radius: 0%;
    }
    &::placeholder {
        color: $color-placeholder;
    }
}

.buttonStart,
.buttonExport {
    @include button;
}

.loadbar {
    margin: auto;
    width: 25vw;
    text-align: center;
    border: 1px solid $color-primary;
    color: $color-primary;
    background-color: $color-bg;
}

.table {
    width: 100%;
    margin: 16px 0px;
    border-collapse: collapse;
    background-color: $color-bg;
}

.tableHeading {
    text-align: left;
    padding: 12px;
    border: 0.5px solid $color-primary;
    color: $color-primary;
}

.tableCell {
    padding: 12px;
    border: 0.5px solid $color-primary;
    color: $color-secondary;
}