@font-face {
    font-family: "Roboto Mono";
    src: url("./fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf");
}

.container {
    font-family: 'Roboto Mono';
    margin: 16px;
}

.h1 {
    margin: 0px;
}

.header {
    margin: 12px 0px;
}

.welcomeText {

}

.logo {

}

.startCrawlContainer {
    display: flex;
}

.urlInput {
    width: 40vw;
    margin: 0px 4px;
    font-family: 'Roboto Mono';
}

.buttonStart {
    font-family: 'Roboto Mono';
}

.loadbar {
    margin: auto;
    width: 25vw;
    text-align: center;
    border: 1px solid lightgrey;
}

.buttonExport {
    font-family: 'Roboto Mono';
}

.table {
    width: 100%;
    margin: 16px 0px;
    border: 4px solid lightgrey;
    border-collapse: collapse;
}

.tableHeading {
    text-align: left;
    padding: 12px;
    border: 0.5px solid grey;
}

.tableCell {
    padding: 12px;
    border: 0.5px solid grey;
}