@font-face {
    font-family: "Roboto Mono";
    src: url("./fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf");
}

.container {
    font-family: 'Roboto Mono';
}

.logo {

}

.startCrawlContainer {
    display: flex;
}

.urlInput {

}

.buttonStart {

}

.controlsContainer {

}

.urlSearch {

}

.buttonExport {

}

.table {
    width: 100%;
    margin: 16px 0px;
    border: 4px solid pink;
    border-collapse: collapse;
}

.tableHeading {
    text-align: left;
    padding: 12px;
    border: 0.5px solid grey;
}

.tableCell {
    padding: 12px;
    border: 0.5px solid grey;
}